<h1>Meine Aufgaben</h1>
<%=button_to "Neue Aufgabe", new_item_path, method: :get, class: "btn btn-default"%>
<hr>
<% @items.each do |item| %>
<h3><%= link_to item.title, item_path(item.id)  %></h3>
<p><%= item.description %></p>
<hr>
<% end %>

