<!DOCTYPE html>
<html>
<head>
  <title>Aufgaben</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/d333a4594d.js"></script>

</head>
<body>
<div class = "container">
<%= yield %>
</div>
</body>
</html>
